<!-- 
<div class="wrapper fadeInDown mt-5">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <!-- <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      <!-- </div>
      <div class="mmmm"><img src="../assets/member-login.png" alt=""></div> -->
   
      <!-- Login Form -->
      <!-- <form [formGroup]>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
        <button (click)="onGoogleLogin()" class="btn btn-lg btn-block" style="background-color: #dd4b39;color: white;width: 100%;">Entrar con Google</button>
        
      </form> -->
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div> --> 