
<body>
  <div class="wrapper fadeInDown mt-5">
    <div id="formContent">
     
      <div class="mmmm"><img src="../assets/c.png" alt=""></div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <input formControlName="email" type="email" class="fadeIn third" placeholder="Email" required>
        
        

        <input formControlName="password" type="password" class="fadeIn third" placeholder="Password" required>
       
        
        <button type="submit" class="mt-1 fadeIn fourth" >Entrar</button>
        
        <input type="submit" (click)="onGoogleLogin()"  class="mt-1 fadeIn fourth" value="Iniciar Sesion con Google">

      </form>
      
      <div id="formFooter">
        <a class="mt-1 underlineHover" routerLink="/register">Do you haven't account?</a>
      </div>

    </div>
  </div>
</body>

