<body>
  <div class="wrapper fadeInDown mt-5">
    <div id="formContent">
    
      <div class="fadeIn first">
       
      </div>
      <div class="mmmm"><img src="../assets/c.png" alt=""></div>

      
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <input formControlName="username" type="text" class="fadeIn second" placeholder="User Name">

        <input formControlName="email" type="email" class="fadeIn second" placeholder="Email">
        
        <input formControlName="password1" type="password" class="form-control" placeholder="Password 8 characters">

        <input formControlName="password2" type="password" class="form-control" placeholder="Repeat Password">

        <input type="submit" class="fadeIn fourth" value="Registrar">
        
        <div id="formFooter">
          <a routerLink="/login"clas="form-control">Do you have account?</a>
        </div>
        
      </form>
    </div>
  </div>
</body>

